@charset "UTF-8";

@font-face {
    font-family: 'Passion One';
    src: url('../Passion_One/PassionOne-Black.ttf') format('truetype'), url('../Passion_One/PassionOne-Bold.ttf') format('truetype'), url('../Passion_One/PassionOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sriracha';
    src: url('../Sriracha/Sriracha-Regular.ttf') format('truetype');
}

/* variáveis que tem as fontes */
:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif; /* fonte padrão  */
    --fonte2: 'Passion One', serif;/* fonte que vou usar em títulos  */
    --fonte3: 'Sriracha', serif;/* fonte para conteúdo */
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

    /* vh: view height (altura da minha viewport) */
    /* vw: view width (largura da minha viewport) */ 

html, body {
    min-height: 100vh;/* ou 100% */ 
    color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

/*    text-transform: uppercase; transforma em MAIÚSCULO   */

/* font-variant: small-caps;  deixa as letras maiúsculas, mas a primeira letra fica maior  */

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2); 
    font-size: 10vw;/*10% da largura da tela*/
}

header p {
    padding-bottom: 50px;
}

header a, footer a {/* link do cabeçalho e link do rodapé */
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    background-color: #7c6666;
    transition-duration: 0.5s;
    border-radius: 5px;
    padding: 2.5px;
}

section {
    padding-top: 10vh; /*vao ocupar 10% da altura*/
    padding-bottom: 10vh;
    line-height: 2em;/* espaçamento duplo entre as frases*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw; /* todas as letras vão ocupar 4.5% da largura da view port, regulando-se automaticamente conforme vou aumentando ou diminuindo a largura da tela*/
}

section > p {
    padding-bottom: 2em;
} 


section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #726f6f;
    color: white;
    box-shadow: inset 6px 6px 13px 0px #00000075;
    background-size: cover;
    background-attachment: fixed;/*efeito parallax*/
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: #2b2727ad;
    text-shadow: 1px 1px 0px;
}

#img001 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

#img002 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}