@charset "UTF-8";

body {
    background-color: black;
}

h1 {
    text-align: center;
    color:white;
}

.cima, .baixo {
    text-align: center;
}

iframe {
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

.link-baixo:hover {
    text-decoration: underline;
    color: rgb(125, 255, 255);
}

.link-baixo {
    display: block;
    text-align: center;
}

p {
    color:white;
}