@charset "UTF-8";

body {
    background-color: black;
}

h1 {
    text-align: center;
    color:white;
}

.cima, .baixo {
    text-align: center;
}

iframe {
    display: block;
    margin: auto;
}

.link-baixo {
    display: block;
    text-align: center;
}

p {
    color:white;
}